# Python Fundamentals

## Lists

Lists are a sequence of any type of objects or data types.Lists are enclosed within [ ] square brackets
Eg.

In [1]:
My_List = ['Hello',3,5,[5,7]] #lists can be nested

In [2]:
My_List

['Hello', 3, 5, [5, 7]]

Slicing of lists

In [4]:
My_List[0]

'Hello'

In [5]:
My_List[0:3]

['Hello', 3, 5]

In [7]:
My_List[3][1] #Extracting an item from list of list

7

In [8]:
My_List.append("World")

In [9]:
My_List

['Hello', 3, 5, [5, 7], 'World']

In [10]:
My_List[0]='Hi'

In [11]:
My_List

['Hi', 3, 5, [5, 7], 'World']

## Tuples

Tuples are immutable lists ie once created cannot be changed. Tuples are enclosed within () round brackets

In [12]:
tup = (2,4,6)

In [13]:
tup

(2, 4, 6)

In [14]:
type(tup)

tuple

In [15]:
tup[2]

6

In [16]:
tup[1] = 4 #since tuples are immutable assignment operation gives an error

TypeError: 'tuple' object does not support item assignment

## Dictionaries

Dictionaries are a sequence of objects like lists, but the only difference between them is that a dictionary can have custom indices unlike 0 1 2... in lists

In [19]:
dic = {'ind1':'val1','ind2':'val2','ind3':5} #Here ind1,ind2 .... are custom indices and the value after : is the value of that index

In [20]:
dic

{'ind1': 'val1', 'ind2': 'val2', 'ind3': 5}

In [21]:
dic['ind2'] #extraction from dictionaries using custom index

'val2'

## Sets

Sets are same as that in math. They cannot have more than one same value ie set is a list of unique items

In [22]:
st = {1,2,4,5}

In [23]:
st

{1, 2, 4, 5}

In [24]:
type(st)

set

In [25]:
st.add(8) #adds a new item

In [26]:
st

{1, 2, 4, 5, 8}

In [27]:
st.add(4) #has no change since 4 is already present

In [28]:
st

{1, 2, 4, 5, 8}

### Hit the Tab button for more functions of the objects after a period. Hit shift + tab for documentation

# Decision Making

## If-elif-else statement

Indentation is most important when using decisions and loops

In [29]:
x = 2

In [31]:
if x < 0:
    print("x is smaller than 0")
elif x == 2:
    print("X is 2")
else :
    print ("None could match")

X is 2

## The For Loop

The for loop is used mostly for looping in lists

In [32]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [35]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [36]:
list1 = [3,5,'Hello','World',4]

In [37]:
for j in list1 :
    print(j)

3
5
Hello
World
4

## The While Loop

This type of loop continues till a given condition is satisfied

In [38]:
i = 0
while i < 5 :
    print("Hello")
    i += 1         #increment operation

Hello
Hello
Hello
Hello
Hello

# Functions

Functions are a small piece of program that can be repeatedly called throughout the program without having to type the same instruction again and again.To define a function start its definition with the keyword def

In [39]:
def hello1(): #no arguments
    print('Hello World')

In [40]:
hello1() #calling a function

Hello World

In [52]:
def hello2(name): #arguments provided
    print('Hello ' + name)

In [53]:
hello2('Ritu')

Hello Ritu

In [54]:
hello2() #Empty arguments give error

TypeError: hello2() missing 1 required positional argument: 'name'

In [55]:
def hello3(name="World"): #default arguments provided
    print('Hello ' + name)

In [56]:
hello3() #Empty arguments return default value

Hello World

Returning values from a function

In [61]:
def add(a,b):
    c = a + b
    return c

In [62]:
s = add(5,6)

In [63]:
s

11

# Lambda

Lambda is a shorthand for function.
Basic syntax :
fn name = lambda var : return value

In [64]:
# def addfive(a):
#    return a + 5
#This can be written using lambda as 
addfive = lambda a : a+5

In [65]:
addfive(8)

13

# Map

In [66]:
listx = [1,2,3,4,5]

Map is function that returns corresponding values in a dataset

In [67]:
list(map(addfive,listx))

[6, 7, 8, 9, 10]

# Filter

Filter function returns desired values from a dataset. As the name suggests this functon filters data from a dataset

In [70]:
# filter(function,dataset)
print(list(filter(lambda i : i % 2 ==0,listx)))
print(list(filter(lambda i : i % 2 ==1,listx)))

[2, 4]
[1, 3, 5]

# The Numpy Library

In [71]:
import numpy as np  #np is an alias to numpy

In [72]:
np

## 1-D array or simply vectors

In [73]:
vec = [1,2,3]

In [74]:
np_vec = np.array(vec)

In [75]:
np_vec

array([1, 2, 3])

In [76]:
type(np_vec)

numpy.ndarray

## 2-D array or matrix

In [77]:
mat = [[2,6,8],[3,7,0]]

In [78]:
mat

[[2, 6, 8], [3, 7, 0]]

In [79]:
np_mat = np.array(mat)

In [80]:
np_mat

array([[2, 6, 8],
       [3, 7, 0]])

## Zeros

In [81]:
np.zeros((3,4)) #creates a 3*4 matrix with all elements zero

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

## Ones

In [82]:
np.ones((3,4)) #creates a 3*4 matrix with all elements one

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

## Eye

In [84]:
np.eye(3) #creates a 3*3 ideantity matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Randoms

In [85]:
np.random.randn(5) # Creates a 1*5 matrix of random numbers

array([ 1.11944845,  0.30491495, -0.41842031,  0.21786545,  1.02161336])

In [86]:
np.random.randn(3,4) # Creates a 3*4 matrix of random numbers

array([[ 0.2445991 , -0.68894205, -1.36818981,  0.99867635],
       [-0.36369326,  0.99427703, -1.18153822,  1.90387642],
       [ 1.07949357, -0.32961109, -1.57777435, -0.05439372]])

In [93]:
np.random.randint(5,15) # Returns a random integer between 5 and 15

10

In [95]:
np.random.randint(5,15,5) # Returns an array random integer between 5 and 15, the third argument tells the no of values

array([12, 13, 14,  5,  9])

## Arange

In [97]:
np.arange(3,12) #returns an array of integers between the given range

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11])

In [98]:
np.arange(3,12,2) #returns an array of integers between the given range, the third argument being step

array([ 3,  5,  7,  9, 11])

## linspace

In [100]:
np.linspace(2,10) # Returns an array of equally spaced values between given range

array([ 2.        ,  2.16326531,  2.32653061,  2.48979592,  2.65306122,
        2.81632653,  2.97959184,  3.14285714,  3.30612245,  3.46938776,
        3.63265306,  3.79591837,  3.95918367,  4.12244898,  4.28571429,
        4.44897959,  4.6122449 ,  4.7755102 ,  4.93877551,  5.10204082,
        5.26530612,  5.42857143,  5.59183673,  5.75510204,  5.91836735,
        6.08163265,  6.24489796,  6.40816327,  6.57142857,  6.73469388,
        6.89795918,  7.06122449,  7.2244898 ,  7.3877551 ,  7.55102041,
        7.71428571,  7.87755102,  8.04081633,  8.20408163,  8.36734694,
        8.53061224,  8.69387755,  8.85714286,  9.02040816,  9.18367347,
        9.34693878,  9.51020408,  9.67346939,  9.83673469, 10.        ])

In [101]:
np.linspace(2,5,10) # Returns an array of equally spaced values between given range, the third argument being no. of values

array([2.        , 2.33333333, 2.66666667, 3.        , 3.33333333,
       3.66666667, 4.        , 4.33333333, 4.66666667, 5.        ])

## More array functions

In [102]:
np_vec.shape #Shape --- Returns the dimensions of an array

(3,)

In [103]:
np_mat.shape #Shape --- Returns the dimensions of an array

(2, 3)

In [104]:
np_vec.max()

3

In [105]:
np_vec.min()

1

In [106]:
np_mat

array([[2, 6, 8],
       [3, 7, 0]])

In [107]:
np_mat.reshape(3,2)

array([[2, 6],
       [8, 3],
       [7, 0]])

In [108]:
np_mat.dtype

dtype('int32')

# Numpy Array Operations

In [109]:
a = np.array([0,1,2,3,4,5])

In [110]:
a

array([0, 1, 2, 3, 4, 5])

In [112]:
print(a + 7)    #adds 7 to each element
print(a - 2)    #subtracts 2 from each element
print(a * 3)    #multiplies 3 to each element
print(a / 2)    #divides each element by 2

[ 7  8  9 10 11 12]
[-2 -1  0  1  2  3]
[ 0  3  6  9 12 15]
[0.  0.5 1.  1.5 2.  2.5]

In [113]:
np.sin(a)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427])

In [114]:
np.cos(a)

array([ 1.        ,  0.54030231, -0.41614684, -0.9899925 , -0.65364362,
        0.28366219])

In [116]:
np.sum(a)

15

In [117]:
np.mean(a)

2.5

In [118]:
a1 = np.array([[1,3],[4,6]])

In [123]:
b1 = np.array([[1,2],[3,1]])

In [125]:
print(a1 + b1)
print(a1 - b1)
print(a1 * b1)        # makes operatons on corresponding elements
print(a1 / b1)

[[2 5]
 [7 7]]
[[0 1]
 [1 5]]
[[ 1  6]
 [12  6]]
[[1.         1.5       ]
 [1.33333333 6.        ]]

In [127]:
a > 2 #returns if the condition is true , elementwise

array([False, False, False,  True,  True,  True])

## Indexing

In [2]:
import numpy as np

In [3]:
d1 = np.arange(25)

In [4]:
d1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [5]:
d2 = np.arange(25).reshape(5,5)

In [6]:
d2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [7]:
#d1[start : end]  end not included

In [8]:
d1[4:12]        #Extracts from index 4 to 12 , 12 not included

array([ 4,  5,  6,  7,  8,  9, 10, 11])

In [9]:
d1[4 : ]        #Extracts from 4 till the end

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24])

In [10]:
d1[ : 13]       #Extracts from beginning till 13 , 13 not included

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [11]:
d2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [13]:
d2[0,0]      #Returns element at row and column index 0

0